<div class="card">
  <div class="card-body">
    <h4>Rails 5 boilerplate using Flow PRO - Admin Dashboard</h4>
    <p>Barebones of Flow PRO - Admin Dashboard design and Rails 5 </p>

    <iframe src="https://ghbtns.com/github-btn.html?user=frontted&repo=flow-base-rails&type=star&count=true&size=large" frameborder="0" scrolling="0" width="120px" height="40px" align="middle"></iframe>
    <span class="mr-2">
      - or -
    </span>
    <a class="btn btn-primary" href="https://themeforest.net/item/flow-pro-bootstrap-4-admin-dashboard/20980351?ref=Frontted">
      <i class="material-icons align-middle">shopping_cart</i> Purchase PRO: $20
    </a>
  </div>
</div>