<div class="card">
  <div class="card-body">
    <h4>Rails 5 boilerplate using Flow PRO - Admin Dashboard</h4>
    <p>Barebones of Flow PRO - Admin Dashboard design and Rails 5 </p>

    <a class="btn btn-primary" href="https://themeforest.net/item/flow-pro-bootstrap-4-admin-dashboard/20980351?ref=Frontted">
      <i class="material-icons align-middle">shopping_cart</i> Purchase PRO: $22
    </a>
  </div>
</div>